@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faf8f4;
  --foreground: #1c1917;
  --surface-1: #f2ede3;
  --surface-2: #fffdf9;
  --border: #e4dcca;
  --text-primary: #1c1917;
  --text-secondary: #736c60;
  --bg-accent: #eee0cd;
  --text-accent: #a3410a;
  --radius: 10px;
}

body {
  color: var(--text-primary);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
